// app global css in SCSS form
.normal {
  background-color: #a8a77a;
  color: #ffffff;
}
.fire {
  background-color: #ee8130;
  color: #ffffff;
}
.water {
  background-color: #6390f0;
  color: #ffffff;
}
.electric {
  background-color: #f7d02c;
  color: #ffffff;
}
.grass {
  background-color: #7ac74c;
  color: #ffffff;
}
.ice {
  background-color: #96d9d6;
  color: #ffffff;
}
.fighting {
  background-color: #c22e28;
  color: #ffffff;
}
.poison {
  background-color: #a33ea1;
  color: #ffffff;
}
.ground {
  background-color: #e2bf65;
  color: #ffffff;
}
.flying {
  background-color: #a98ff3;
  color: #ffffff;
}
.psychic {
  background-color: #f95587;
  color: #ffffff;
}
.bug {
  background-color: #a6b91a;
  color: #ffffff;
}
.rock {
  background-color: #b6a136;
  color: #ffffff;
}
.ghost {
  background-color: #735797;
  color: #ffffff;
}
.dragon {
  background-color: #6f35fc;
  color: #ffffff;
}
.dark {
  background-color: #705746;
  color: #ffffff;
}
.steel {
  background-color: #b7b7ce;
  color: #ffffff;
}
.fairy {
  background-color: #d685ad;
  color: #ffffff;
}
